<extend name="Public:bg_theme" />
<block name="content">
	<!-- bootstrap -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap/css/bootstrap.css">
	<!-- x-editable -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/js/bootstrap-editable.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/css/bootstrap-editable.css">
	<div class="location">
		<i>当前位置：</i>
		<gt name="_GET.pid" value="1">
			<a href="{:U('index?pid='.$current_parent['pid'])}" class="nav_a">返回上级</a>
		<else />
			<a href="javascript:;" class="nav_a">导航列表</a>
		</gt>
		<gt name="_GET.pid" value="1">
		<a href="javascript:;" class="nav_a">{$current_parent.c_name}</a>
		</gt>
	</div>
	<div class="title_form">
		<div class="title_search">
			<form action="{:U('')}" method="post">
				<label for="">中文名：</label>
				<input type="text" name="name" class="title_text input_style input_focus" value="{:I('name')}">
				<button class="find_btn">搜索</button>
			</form>
		</div>
		<a href="{:U('add',array('pid'=>I('pid',1)))}"><button class="find_btn add_btn">新增</button></a>
	</div>
	<div class="content_table">
	<form action="{:U('delete')}" method="post" id="del_form">
		<table id="del_table">
			<tr>
				<th><input type="checkbox" name="checkAll"></th>
				<th>中文名</th>
				<th>上级导航</th>
				<th>类型</th>
				<th>描述</th>
				<th>排序</th>
			</tr>
			<volist name="list" id="vo">
			<tr>
				<td>
					<input type="checkbox" name="id[]" value="{$vo.id}" id="checkEach"></td>
				<td>
					<a href="javascript:;" class="editable" data-name="c_name" data-type="text" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}">{$vo.name}</a>
				</td>
				<td>
					<a href="javascript:;" class="editable group" data-name="pid" data-type="select" data-pk="{$vo.id}" data-source="{:U('editbleGetNav')}" sourceError="获取上级导航失败" data-url="{:U('ajaxUpdate')}" data-value="{$vo.pid}">{$vo.p_name}</a>
				</td>
				<td>
					<a href="javascript:;" class="editable group" data-name="type" data-type="select" data-pk="{$vo.id}" data-source="{:U('editbleGetType')}" sourceError="获取上级导航失败" data-url="{:U('ajaxUpdate')}" data-value="{$vo.type}">{$vo.type_name}</a>
				</td>
				<td>
					<a href="{:U('edit?id='.$vo['id'])}">编辑</a>
				</td>
				<td>
					<a href="javascript:;" class="editable" data-name="order" data-type="text" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}">{$vo.order}</a>
				</td>
			</tr>
			</volist>
		</table>
	</div>
	<div class="content_btn">
		<button class="find_btn" id="batch_del">删除</button>
	</div>
	</form>
	<script type="text/javascript">
		$(function(){
			//全选
			$("input[name='checkAll']").click(function(){
				$("input#checkEach").attr("checked",this.checked);
			})
			//初始化editable
			$('.editable').editable({
				emptytext:'空',
				success: function(response, newValue) {
					if(!response.status){
						return response.info;
					}
				}
			});

			//批量删除
			$('#batch_del').click(function(){
				if($('#del_form input[name=id[]]:checked').length ==0){
					$.thinkbox.error('至少选择一个');
				}else{
					ajaxForm('#del_table',function(data){
						defCallback(data,current_url);
					});
				}
				return false;
			});
		})
	</script>
</block>
<block name="foot_js">
	$(function(){
		//左侧导航子页面高亮选中
		highlight_sidebar('{:U('index')}');
	});
</block>