<extend name="Public:bg_theme" />
<block name="content">
	<!-- bootstrap -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap/css/bootstrap.css">
	<!-- x-editable -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/js/bootstrap-editable.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/css/bootstrap-editable.css">
	<div class="location">
		<i>当前位置：</i>
		<a href="javascript:;" class="nav_a">广告列表</a>
	</div>
	<div class="title_form">
		<div class="title_search">
			<form action="{:U('')}" method="post">
				<label for="">名称：</label>
				<input type="text" name="title" class="title_text input_style input_focus" value="{:I('title')}">
				<button class="find_btn" type="submit">搜索</button>
			</form>
		</div>
		<a href="{:U('add')}"><button class="find_btn add_btn fl">新增</button></a>

		<button class="find_btn add_btn fr" id="sortButton" data-operate="__URL__/sort/value/Nav-">排序</button>
	</div>
	<div class="content_table">
	<form action="{:U('delete')}" method="post" id="del_form">
		<table id="del_table">
			<tr>
				<th><input type="checkbox" name="checkAll"></th>
				<th>id</th>
				<th>类型</th>
				<th>分类</th>
				<th>名称</th>
				<th>有效时间</th>
				<th>排序</th>
			</tr>
			<volist name="list" id="vo">
			<tr>
				<td>
					<input type="checkbox" name="id[]" value="{$vo.id}" id="checkEach">
				</td>
				<td>{$vo.id}</td>
				<td>
					<a href="javascript:;" class="editable status" data-name="type" data-type="select" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}" data-source="[{value: 1, text: '内容'},{value: 2, text: '顶部'},{value: 3, text: '对联'},{value: 4, text: '悬浮'}]" data-value="{$vo.type}"></a>
				</td>
				<td>
					<a href="javascript:;" class="editable group" data-name="cate_id" data-type="text" data-pk="{$vo.id}" data-value="{$vo.cate_id}" data-url="{:U('ajaxUpdate')}">{$vo.cate_id}</a>
				</td>
				<td>
					<a href="javascript:;" class="editable" data-name="title" data-type="text" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}">{$vo.title}</a>
				</td>
				<td>
					<a data-original-title="设置有效期开始时间" data-pk="{$vo.id}" data-viewformat="MMM D, YYYY, HH:mm" data-format="YYYY-MM-DD HH:mm" data-template="D MMM YYYY  HH:mm" data-type="combodate" href="javascript:;" class="editable editable-click editable-empty" date-name="startTime">空</a>-
					<a data-original-title="设置有效期开始时间" data-pk="{$vo.id}" data-viewformat="MMM D, YYYY, HH:mm" data-format="YYYY-MM-DD HH:mm" data-template="D MMM YYYY  HH:mm" data-type="combodate" href="javascript:;" class="editable editable-click editable-empty" date-name="startTime">空</a>
				</td>
				<td>
					<a href="javascript:;" class="editable" data-name="sort" data-type="text" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}">{$vo.sort}</a>
				</td>
			</tr>
			</volist>
		</table>
	</div>
	<div class="content_btn">
		<button class="find_btn" id="batch_del">删除</button>
	</div>
	</form>
	<script type="text/javascript">
		$(function(){
			//全选
			$("input[name='checkAll']").click(function(){
				$("input#checkEach").attr("checked",this.checked);
			})
			//初始化editable
			$('.editable').editable({
				emptytext:'空',
				success: function(response, newValue) {
					if(!response.status){
						return response.info;
					}
				}
			});

			//批量删除
			<include file="Public:batch_delete" />
		})
	</script>
</block>
<block name="foot_js">
	$(function(){
		//左侧导航子页面高亮选中
		highlight_sidebar('{:U('index')}');
	});
</block>