<extend name="Public:bg_theme" />
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/js/kindeditor/default/default.css" />
</block>
<block name="js">
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor/zh_CN.js"></script>
</block>
<block name="content">
	<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js"></script>
	<div class="location">
		<i>当前位置：</i>
		<a href="javascript:;" class="nav_a">文章管理 - </a>
		<a href="{:U('index')}" class="nav_a">文章列表 - </a>
		<a href="{:U('')}" class="nav_a">添加文章</a>
	</div>
	<form class="addform" action="{:U('insert')}" method="post">
		<div class="manage_table">
			<table>
				<tr>
					<td>上级导航：</td>
					<td>
						<select name="nav_id">
						<volist name="nav_tree" id="cate">
							<option value="{$cate.id}" <eq name="_GET.nav_id" value="$cate.id">selected</eq>>{$cate.title_show}{$cate.c_name}</option>
						</volist>
						</select>
					</td>
				</tr>
				<tr>
					<td>标题(*)：</td>
					<td>
						<input class="input_style input_focus content_text" type="text" name="title" datatype="*1-128" errormsg="存在特殊字符或者超过128个汉字" nullmsg="标题必填！">
					</td>
					<td>
						<div class="Validform_checktip"></div>
					</td>
				</tr>
				<tr>
					<td>内容(*)：</td>
					<td>
						<textarea id="content" class="input_focus hidden" type="text" name="content" datatype="*" nullmsg="内容必填！" rows="20" style="width:670px;">
						</textarea>
					</td>
					<td>
						<div class="Validform_checktip"></div>
					</td>
				</tr>
			</table>
		</div>
		<div class="batch_save">
			<input class="hidden" name="model" value="Article" />
			<button type="submit" class="find_btn" >确定</button>
			<button type="reset" class="find_btn">重置</button>
		</div>
	</form>

	<script type="text/javascript">
		$(function(){
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
					allowFileManager : true,
					themesPath: K.basePath,
					height: '500px',
					resizeType: 0,
					pasteType : 2,
					fileManagerJson : '{:U('fileManagerJson')}',
					uploadJson : '{:U('uploadJson')}'
				});
			});

			$(".addform").Validform({
				tiptype:2,
				beforeSubmit:function(){
					editor.sync();
				}
			});
		})
	</script>
</block>
<block name="foot_js">
	$(function(){
		//左侧导航子页面高亮选中
		highlight_sidebar('{:U('index')}');
	});
</block>