<extend name="Public:bg_theme" />
<block name="content">
	<!-- bootstrap -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap/css/bootstrap.css">
	<!-- x-editable -->
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/js/bootstrap-editable.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-editable-1.4.5/bootstrap-editable/css/bootstrap-editable.css">

	<div class="location">
		<i>当前位置：</i>
		<a href="{:U('')}" class="nav_a">文章管理</a>
	</div>
	<div class="title_form">
		<div class="title_search">
			<form action="{:U('')}" method="post">
				<label for="">标题：</label>
				<input type="text" name="title" class="title_text input_style input_focus" value="{:I('title')}">
				<button class="find_btn">搜索</button>
			</form>
		</div>
		<a href="{:U('add')}"><button class="find_btn add_btn">新增</button></a>
	</div>
	<div class="content_table">
	<form action="{:U('delete')}" method="post" id="del_form">
		<table id="del_table">
			<tr>
				<th><input type="checkbox" name="checkAll"></th>
				<th>序号</th>
				<th>标题</th>
				<th>内容</th>
				<th>所属导航</th>
				<th>创建时间</th>
			</tr>
			<volist name="list" id="vo">
			<tr>
				<td>
					<input type="checkbox" name="id[]" value="{$vo.id}" id="checkEach">
				</td>
				<td>
					{$key+1}
				</td>
				<td>
					<a href="javascript:;" class="editable" data-name="title" data-type="text" data-pk="{$vo.id}" data-url="{:U('ajaxUpdate')}">{$vo.title}</a>
				</td>
				<td>
					<a href="{:U('edit',array('id'=>$vo['id']))}" class="ajaxedit">编辑</a>
				</td>
				<td>
					<a href="javascript:;" class="editable group" data-name="nav_id" data-type="select" data-pk="{$vo.id}" data-source="{:U('editbleGetNav')}" sourceError="获取上级导航失败" data-url="{:U('ajaxUpdate')}" data-value="{$vo.nav_id}"></a>
				</td>
				<td>
					{$vo.time_text}
				</td>
			</tr>
			</volist>
		</table>
	</div>
	<div class="content_btn">
		<button class="find_btn" id="batch_del">删除</button>
	</div>
	</form>
	<script type="text/javascript">
		$(function(){
			//全选
			$("input[name='checkAll']").click(function(){
				$("input#checkEach").attr("checked",this.checked);
			})
			//初始化editable
			$('.editable').editable({
				emptytext:'空',
				success: function(response, newValue) {
					if(!response.status){
						return response.info;
					}
				},
				mode: 'inline'
			});

			//ajax编辑内容
			$('.ajaxedit').click(function(){
				var url = $(this).data('url');
				$.thinkbox(url,{
					'width':   600,
					'title':   "更新文章内容",
					'drag':   true,
					'clone':   false,
					afterShow: function(){
						var editor;
						KindEditor.ready(function(K) {
							editor = K.create('textarea[name="content"]', {
								allowFileManager : true,
								themesPath: K.basePath,
								height: '500px',
								resizeType: 0,
								pasteType : 2,
								fileManagerJson : '{:U('fileManagerJson')}',
								uploadJson : '{:U('uploadJson')}'
							});
						});
					}
					,afterHide:function(){
						location.reload(true)
					}
				});
			});

			//批量删除
			<include file="Public:batch_delete" />
		})
	</script>
</block>
<block name="foot_js">
	$(function(){
		//左侧导航子页面高亮选中
		highlight_sidebar('{:U('index')}');
	});
</block>