<extend name="Public:fe_theme" />

<block name="js">
	<link rel="stylesheet" href="__PUBLIC__/js/kindeditor/default/default.css" />
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor/zh_CN.js"></script>
</block>
<block name="top"></block>
<block name="content">

	<!-- 面包屑导航 -->
	<div class="breadcrumb wrapper">
		<div class="row">
			<span class="icon icon-crumb"></span>
			<a href="javascript:;">首页</a>
			<volist name="path" id="vo">
				<span class="division">></span>
				<a href="{:U('detail?id='.$vo['id'])}"><span>{$vo.c_name}</span></a>
			</volist>
		</div>
	</div>

	<div class="wrapper cf">
		<div class="row">
			<div class="three">
				<button class="button blue"> 发帖</button>
			</div>
			<div class="nine">
				{$page|default=''}
			</div>
		</div>
		<!-- 边栏导航 -->
		<div class="row side-nav">
			<ul class="nav-list">
				<volist name="siblings" id="vo">
					<li <eq name="vo.id" value="$_GET.id"> class="current"</eq>><a href="{:U('detail?id='.$vo['id'])}"><i class="icon icon-navlist"></i>{$vo.c_name}</a></li>
				</volist>
			</ul>
		</div>

		<!-- 内容区 -->
		<div class="row">
			<div class="three">
				查看：90|回复：0
			</div>
			<div class="nine">
				<div class="list-title">
					<i class="icon icon-list-title"></i>
					<em>{$record.title}</em>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="three">
				<p>
					<img src="{$record.uid|get_data='User',###|get_avatar}" alt="">
				</p>
			</div>
			<div class="nine">
				<div>
					<div>{$record.content|default="暂无内容"}</div>
				</div>
			</div>
		</div>

		<volist name="comments" id="vo">
			<div class="row">
				<div class="three">
					<p>
						<img src="{$vo.uid|get_data='User',###|get_avatar}" alt="">
					</p>
				</div>
				<div class="nine">
					<div>
						<div>{$vo.content|default="暂无内容"}</div>
					</div>
				</div>
			</div>
		</volist>

		<div class="row">
			<div class="three">
				&nbsp;
			</div>
			<div class="nine">
				<form enctype="multipart/form-data" method="POST" action="{:U('addComment')}">
				<fieldset>
					<legend>评论</legend>
					<p>
						<label></label>
						<textarea rows="5" cols="45" id="textarea" name="content">
				        </textarea>
			        </p>
					<p class="fr">
						<label></label>
						<php>
							$user = get_login_user();
							$current_uid = $user['id'];
						</php>
						<input type="hidden" name="uid" value="{$current_uid}">
						<input type="hidden" name="article_id" value="{$record.id}">
						<input type="submit" value="提交" class="button blue">
					</p>
				</fieldset>
			</form>
			</div>
		</div>
	</div>
</block>

<block name="foot_js">
	<script type="text/javascript">
		$(function(){
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
					allowImageUpload : false,
					themesPath: K.basePath,
					items: [
						'source','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link'
					],
					height: '200px',
					width: '100%',
					resizeType: 0,
					pasteType : 2,
					fileManagerJson : '{:U('Index/fileManagerJson')}',
					uploadJson : '{:U('Index/uploadJson')}'
				});
			});

		})
	</script>
</block>