<extend name="Public:fe_theme" />

<block name="content">

	<!-- 面包屑导航 -->
	<div class="breadcrumb wrapper">
		<span class="icon icon-crumb"></span>
		<a href="javascript:;">首页</a>
		<span class="division">></span>
		<a href="{:U('down')}"><span>资料下载</span></a>
	</div>

	<div class="wrapper cf">
		<!-- 边栏导航 -->
		<div class="side-nav">
			<ul class="nav-list">
				<li class="current">
				<a href="{:U('down')}"><i class="icon icon-navlist"></i>资料下载
				</a>
				</li>
			</ul>
		</div>

		<!-- 内容区 -->
		<div class="content-wrap list-wrap">
			<div class="list-title">
				<i class="icon icon-list-title"></i>
				<em>资料下载</em>
			</div>
			<ul class="list art-list">
				<volist name="down" id="vo">
					<li>
						<a href="{:U('down?id='.$vo['id'])}">{$vo.o_name}</a>
					</li>
				</volist>
				<empty name="down">暂无内容</empty>
			</ul>
		</div>
	</div>
</block>