<extend name="Public:fe_theme" />
<block name="content">
    <!-- 内容广告 -->
    {:W('Ad/index',array('cate'=>0,'type'=>1))}
    <!-- 内容广告/ -->
    <div class="row">
        <div class="twelve fr">
            <a href="./" class="button blue fr">发 帖</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 吃 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">美食</a>
            <a href="./">特色</a>
            <a href="./">私房菜</a>
            <a href="./">农家菜</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 住 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">宾馆</a>
            <a href="./">快捷酒店</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 宅 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">楼盘</a>
            <a href="./">装修</a>
            <a href="./">家居</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 行 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">汽车新品</a>
            <a href="./">汽车经销商</a>
            <a href="./">汽车美容</a>
            <a href="./">维修保养</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 爱 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">婚纱</a>
            <a href="./">写真</a>
            <a href="./">婚庆</a>
            <a href="./">演艺</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 美 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">美容</a>
            <a href="./">美妆</a>
            <a href="./">化妆品</a>
            <a href="./">时装</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 游 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">景点</a>
            <a href="./">旅行社</a>
            <a href="./">自驾游</a>
            <a href="./">路线</a>
        </div>
    </div>

    <div class="row bgLightBlue h30">
        <div class="eleven">
            <span class="pdl20">== 乐 ==</span>
        </div>
        <div class="one">
            <i class="icon more fr"></i>
        </div>
    </div>
    <div class="row wrapper">
        <div class="one">
            <img src="__PUBLIC__/images/forum_new.gif">
        </div>
        <div class="six">
            <a href="./">KTV</a>
            <a href="./">茶吧</a>
            <a href="./">咖啡店</a>
            <a href="./">足疗</a>
            <a href="./">保健</a>
            <a href="./">###</a>
        </div>
    </div>
</block>
