<extend name="Public:fe_theme" />
<block name="content">
		<div class="row">
			<div class="twelve">
				<p>asdas</p>
			</div>
		</div>
		<div class="row">
			<div class="four purchase">
				<p>第一列</p>
			</div>
			<div class="four purchase">
				<p>第二列</p>
			</div>
			<div class="four purchase">
				<p>第三列</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve">
				<p>这是广告位</p>
			</div>
			<div class="twelve">
				<p>这是广告位</p>
			</div>
			<div class="twelve">
				<p>这是广告位</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve">
				<ul class="unstyled">
					<li>
						<a href="detail.html">这是文章标题</a>
					</li>
					<li>
						<a href="detail.html">这是文章标题</a>
					</li>
					<li>
						<a href="detail.html">这是文章标题</a>
					</li>
					<li>
						<a href="detail.html">这是文章标题</a>
					</li>
					<li>
						<a href="detail.html">这是文章标题</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
