<div style="width:300px; max-height:440px; overflow:hidden; margin:10px;">
    <form action="__URL__/updateSort" method="post">
    <div>
        <ul id="sortUl">
            <volist name="list" id="vo">
                <li value="{$vo.id}" class="getSort">{$vo.id}(ID值)、{$vo.name}</li>
            </volist>
            <input id="hidden" name="id" type="hidden" value="{$id}" />
            <input  name="model" type="hidden" value="{$model}" />
        </ul>
    </div>
    <div class="formsave">
	    <input name='save' type="submit" value="保存" class="find_btn add_btn"/>
		<input name='clear' type="submit" value="清空排序" class="find_btn add_btn"/>
	</div>
    </form>
</div>