<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/assets/css/cutter.css">
	<link rel="stylesheet" href="__PUBLIC__/assets/css/addons.css">
        <!--[if lt IE 9]>
        <script src="__PUBLIC__/assets/js/html5.js"></script>
        <![endif]-->
        <script src="__PUBLIC__/assets/js/jquery.js"></script>

        <script src="__PUBLIC__/assets/js/cutter.js"></script>
        <script src="__PUBLIC__/assets/js/jquery.KinSlideshow-1.2.1.min.js"></script>
        <script src="__PUBLIC__/js/jQuery.textSlider.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/YlFloat.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/floatAd.js"></script>
        <block name="js"></block>
    </head>
    <body>
    	<!-- header -->
    	<div class="header w960">
    		<div class="heading">
    			<div class="wrapper">
    				<div class="six">金湖生活网————爱金湖，爱生活</div>
    				<div class="five">
    					<a href="javascript:toDesktop('http:\//www.baidu.com/','百度一下，你就知道！');">存至桌面</a>
    					<a href="javascript:SetHome();">设为首页</a>
    					<a href="javascript:AddFavorite('http://download.keqie.com','渴切-开源中文css框架');">收藏本站</a>
    				</div>
    			</div>
    		</div>
    		<div class="nav">
    			<div class="topbar">
    				<div class="wrapper row font14px">
    					<div class="two logo">
    						<a href="">金湖生活网</a>
    					</div>
    					<div class="two">
    						<div class="row h30">

    							<div class="two">客服QQ: 91999999</div>
    						</div>
    						<div class="row h30">
    							<div class="two">服务电话 051-1231</div>

    						</div>
    					</div>
    					<div class="seven">
    						<div class="row h30">
                                <?php $user = get_name(); ?>
                                <present name="user">
                                    欢迎您，用户 [<a href="{:U('User/info')}">{:get_name()}</a>]

                                    <else />
                                    <form action="{:U('User/login')}" method="post">
                                     <div class="one"><a href="javascript:;">QQ登录</a></div>
                                     <div class="five">
                                        用户名：<input type="text" name="name"> <input type="checkbox" name="autologin"> 自动登录
                                    </div>
                                    <div class="one">
                                        <a href="javascript:;">找回密码</a></div>
                                    </div>
                                    <div class="row h30">
                                        <div class="one"><a href="javascript:;">微博登录</a></div>
                                        <div class="five">
                                           密码：<input type="password" name="pwd">
                                           <input type="submit" value="登录" class="button blue" name="">
                                       </div>
                                       <div class="one"><a href="{:U('User/register')}">立即注册</a></div>
                                   </div>
                               </form>
                           </present>
                       </div>
                   </div>
               </div>
           </div>
           <div class="topbar unstyled">
               <div class="wrapper">
                  <div class="logo">
                     <a href="./">首页</a>
                 </div>
                 <div class="collapse">菜单</div>
                 <div class="module">
                     <a href="index.html">网上商城</a>
                     <a href="grid.html">每日签到</a>
                     <a href="base.html">手机版</a>
                 </div>

                 <div class="sub">
                     <a href="http://mobile.keqie.com">快捷导航</a>
                 </div>
             </div>
         </div>

         <div class="topbar unstyled">
           <div class="wrapper row percent font14px">
              <div class="grid three">
                 <div class="grid three">
                    互动
                </div>
                <div class="grid nine">
                    <div class="row h30">
                       <a href="./">金湖杂谈</a>
                       <a href="./">交友</a>
                   </div>
                   <div class="row h30">
                       <a href="./">有问必答</a>
                       <a href="./">情感</a>
                   </div>
               </div>
           </div>
           <div class="grid three">
             <div class="grid three">
                生活
            </div>
            <div class="grid nine">
                <div class="row h30">
                   <a href="./">房产信息</a>
                   <a href="./">求职招聘</a>
               </div>
               <div class="row h30">
                   <a href="./">跳蚤市场</a>
                   <a href="./">汽车广场</a>
               </div>
           </div>
       </div>
       <div class="grid three">
         <div class="grid three">
            服务
        </div>
        <div class="grid nine">
            <div class="row h30">
               <a href="./">便民电话</a>
               <a href="./">车站列表</a>
           </div>
           <div class="row h30">
               <a href="./">天气预报</a>
               <a href="./">金湖地图</a>
           </div>
       </div>
   </div>
   <div class="grid three">
     <div class="grid three">
        兴趣
    </div>
    <div class="grid nine">
        <div class="row h30">
           <a href="./">游</a>
           <a href="./">棋</a>
           <a href="./">相</a>
       </div>
       <div class="row h30">
           <a href="./">书</a>
           <a href="./">影</a>
           <a href="./">频</a>
       </div>
   </div>
</div>
</div>
</div>
</div>
<div class="topbar unstyled">
    <div class="wrapper row percent font14px">
       <div class="three h30 overhidden" id="notice">
          <p>这是滚动字幕</p>
          <p>这是滚动字幕1</p>
          <p>这是滚动字幕2</p>
          <p>这是滚动字幕3</p>
          <p>这是滚动字幕4</p>
          <p>这是滚动字幕5</p>
      </div>
      <div class="nine">
          <form class="search">
             <input type="text" class="text" placeholder="请输入关键字" value="" name="">
             <input type="button" value="搜索" class="button" name="">
         </form>
         <div class="h30 mt10">
             <span>热词：</span>
             <abbr title="热点">热点</abbr>
             <abbr title="热点">热点</abbr>
             <abbr title="热点">热点</abbr>
             <abbr title="热点">热点</abbr>
             <abbr title="热点">热点</abbr>
         </div>
     </div>
 </div>
</div>
<block name="top">
 <div class="unstyled">
    <div class="wrapper row percent font14px h30">
       <div class="three">
          <i class="icon home"></i>金湖生活网
          <a href="#popup" rel="popup">
             <img title="关注本站微信" id="navicon3" name="navicon3" src="http://www.52jinhu.com/source/plugin/wsh_wx/img/wx_jqr.gif">
         </a>
     </div>
     <div class="nine">
      <i class="icon stats"></i>
      <div>日: 571|昨日: 1024|帖子: 371290|会员: 28927|欢迎新会员: bkiik
         最新回复</div>

     </div>
 </div>
</div>

<div class="popup" id="popup">
   <div class="head">
      欢迎关注我们的微信账号
      <del>×</del>
  </div>
  <div class="body">
      <img border="0" usemap="#Map" alt="wsh_wx" src="http://www.52jinhu.com/data/attachment/forum/201301/04/083505enek3jejdqy4f8yw.jpg">
      <div>1、扫描上面二维码，2、添加微信号: heduluntan</div>
  </div>
</div>

<div class="unstyled">
   <div class="wrapper row percent font14px">
      <div class="six">
         as
     </div>
     <div class="six">
         <div id="tester" style="visibility:hidden;">
            <a href="#"><img src="__PUBLIC__/images/slide/img.jpg" width="640" height="480"/></a>
            <a href="#"><img src="__PUBLIC__/images/slide/img.jpg" width="640" height="480"/></a>
            <a href="#"><img src="__PUBLIC__/images/slide/img.jpg" width="640" height="480"/></a>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
   $(function() {
      $("#tester").KinSlideshow();
  });
</script>

<div class="unstyled">
   <div class="wrapper row percent font14px">
      <div class="three b_gray">
         这是图片
     </div>
     <div class="six">
         <div class="taber">
            <div class="head">
               <a href="#" lang="t1" class="selected">最新帖子</a>
               <a href="#" lang="t2">最新回复</a>
               <a href="#" lang="t3">精华主题</a>
           </div>
           <div class="body" id="t1">
               <ul class="unstyled">
                  <li><a href="./">这是帖子。。。。。。</a></li>
                  <li><a href="./">这是帖子。。。。。。</a></li>
                  <li><a href="./">这是帖子。。。。。。</a></li>
                  <li><a href="./">这是帖子。。。。。。</a></li>
                  <li><a href="./">这是帖子。。。。。。</a></li>
                  <li><a href="./">这是帖子。。。。。。</a></li>
              </ul>
          </div>
          <div class="body" id="t2" style="display:none;">
           <ul class="unstyled">
              <li><a href="./">这是回复。。。。。。</a></li>
              <li><a href="./">这是回复。。。。。。</a></li>
              <li><a href="./">这是回复。。。。。。</a></li>
              <li><a href="./">这是回复。。。。。。</a></li>
              <li><a href="./">这是回复。。。。。。</a></li>
              <li><a href="./">这是回复。。。。。。</a></li>
          </ul>
      </div>
      <div class="body" id="t3" style="display:none;">
       <ul class="unstyled">
          <li><a href="./">这是精华主题。。。。</a></li>
          <li><a href="./">这是精华主题。。。。</a></li>
          <li><a href="./">这是精华主题。。。。</a></li>
          <li><a href="./">这是精华主题。。。。</a></li>
          <li><a href="./">这是精华主题。。。。</a></li>
          <li><a href="./">这是精华主题。。。。</a></li>
      </ul>
  </div>
</div>
</div>
<div class="three">
 <div class="taber">
    <div class="head">
       <a href="#" lang="t4" class="selected">在线排行</a>
       <a href="#" lang="t5">积分排行</a>
   </div>
   <div class="body" id="t4">
       <ul class="unstyled">
          <li><a href="./">这是帖子。。。。。。</a></li>
          <li><a href="./">这是帖子。。。。。。</a></li>
          <li><a href="./">这是帖子。。。。。。</a></li>
          <li><a href="./">这是帖子。。。。。。</a></li>
          <li><a href="./">这是帖子。。。。。。</a></li>
          <li><a href="./">这是帖子。。。。。。</a></li>
      </ul>
  </div>
  <div class="body" id="t5" style="display:none;">
   <ul class="unstyled">
      <li><a href="./">这是回复。。。。。。</a></li>
      <li><a href="./">这是回复。。。。。。</a></li>
      <li><a href="./">这是回复。。。。。。</a></li>
      <li><a href="./">这是回复。。。。。。</a></li>
      <li><a href="./">这是回复。。。。。。</a></li>
      <li><a href="./">这是回复。。。。。。</a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>

</div>
</block>
<!-- header /-->
<div class="w960 contaner">
    <div class="wrapper">
       <block name="content"></block>

   </div>

   <!-- 对联 -->
   {:W('Ad/index',array('cate'=>0,'type'=>3))}
   <!-- 对联 -->

   <div class="footer">
       Powered by <font class="danley"><a href="http://www.keqie.com">Keqie</a></font> V1.0
       <br>
       &copy; 2001-2012 <font class="danley"><a href="http://www.keqie.com">Keqie</a></font> Inc.
   </div>
   <script type="text/javascript">
			            // 设为首页
			            function SetHome(obj, vrl) {
			            	try {
			            		obj.style.behavior = 'url(#default#homepage)';
			            		obj.setHomePage(vrl);
			            	} catch (e) {
			            		if (window.netscape) {
			            			try {
			            				netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
			            			} catch (e) {
			            				alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入“about:config”并回车\n然后将[signed.applets.codebase_principal_support]设置为'true'");
			            			}
			            			var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
			            			prefs.setCharPref('browser.startup.homepage', vrl);
			            		}
			            	}
			            }
			            //存至桌面
			            function toDesktop(sUrl, sName) {
			            	try {
			            		var WshShell = new ActiveXObject("WScript.Shell");
			            		var oUrlLink = WshShell.CreateShortcut(WshShell.SpecialFolders("Desktop") + "\\" + sName + ".url");
			            		oUrlLink.TargetPath = sUrl;
			            		oUrlLink.Save();
			            	} catch (e) {
			            		alert("请点击弹出对话框的：是 ");
			            	}
			            }
			            // 加入收藏
			            function AddFavorite(sURL, sTitle) {
			            	try {
			            		window.external.addFavorite(sURL, sTitle);
			            	} catch (e) {
			            		try {
			            			window.sidebar.addPanel(sTitle, sURL, "");
			            		} catch (e) {
			            			alert("加入收藏失败，请使用Ctrl+D进行添加");
			            		}
			            	}
			            }

			           //文字滚动
			           //上下滚动
			           var textRoll=function(){
			           	$('#notice p:last').css({'height':'0px','opacity': '0'}).insertBefore('#notice p:first').animate({'height':'35px','opacity': '1'}, 'slow', function() { $(this).removeAttr('style');});
			           }
			           $(function(){
							//触发上下文字滚动事件
							var roll=setInterval('textRoll()',4000);
							$("#notice p").hover(function() {
								clearInterval(roll);
							}, function() {
								roll = setInterval('textRoll()', 4000)
							});

							// 浮动广告
							$( "#adl").jFloat({
								position: "left",
								top:200,
								height:200,
								width:100,
								left:20
							  });//将页面中id为adl的容器中的内容设置为左浮动广告，广告距窗口顶部0px,距左侧20px。

							$( "#adr").jFloat({
								position: "right",
								top:200,
								height:200,
								width:100,
								right:20
							});//将页面中id为adr的容器中的内容设置为右浮动广告，广告距窗口顶部0px，距右侧20px。
						});
			       </script>
			       {:W('Ad/index',array('cate'=>0,'type'=>4))}
                 <block name="foot_js"></block>
             </body>
             </html>