<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<block name="title"><title>金湖生活网</title></block>
	<link rel="stylesheet" href="__PUBLIC__/assets/css/cutter.css">
	<link rel="stylesheet" href="__PUBLIC__/assets/css/addons.css">
	<block name="css"></block>
	<!--[if lt IE 9]>
	<script src="../assets/js/html5.js"></script>
	<![endif]-->
	<script src="__PUBLIC__/assets/js/jquery.js"></script>
	<script src="__PUBLIC__/assets/js/cutter.js"></script>

	<block name="js"></block>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="heading"></div>
		<div class="nav">
			<div class="topbar">
				<div class="wrapper">
					<div class="logo">
						<a href="./">渴切开源</a>
					</div>
					<div class="collapse">菜单</div>
					<div class="module">
						<a href="index.html">概述</a>
						<a href="grid.html">框架</a>
						<a href="base.html">基础css</a>
						<a class="selected" href="widget.html">组件</a>
						<a href="javascript.html">javascript插件</a>
					</div>
					<div class="sub">
						<a href="http://download.keqie.com">前往官网</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- header /-->
	<div class="w960 contaner">
	<div class="wrapper">
		<block name="content"></block>

	</div>

	<div class="footer">
		Powered by <font class="danley"><a href="http://www.keqie.com">Keqie</a></font> V1.0
		<br>
		&copy; 2001-2012 <font class="danley"><a href="http://www.keqie.com">Keqie</a></font> Inc.
	</div>
	<block name="foot_js"></block>
</body>
</html>